@import "compass/reset";

/*#demo1{
	float: left;
	height: 40vh;
	width: 50vw;
	background-color: green;
	overflow: scroll;
}
#demo2{
	float: left;
	height: 40vh;
	width: 50vw;
	background-color: blue;
	overflow: scroll;
}*/

html,body{
	height: 100%;
}

#demo3{
	float: left;
	height: 60vh;
	width: 100vw;
	background-color: yellow;
	overflow: scroll;
}



$titleHeight: 10%;
.columns{

	display: flex;
	flex-flow: row;
	.column{
		flex-basis: 50%;
		
		display: flex;
		flex-flow: column nowrap;

		.title{
			font-size: 14px;
			font-weight: 500;
			padding-left: 5%;
			box-sizing: border-box;
			border-bottom: 1px solid #eee;
			background-color: #F9F9F9;
			color: #333;
			transform-style: preserve-3d;
			div{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
			flex: 1 0 50%;
		}
		.title + div{
			flex: 9 0 50%;
		}
	}
}
.week{
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: Helvetica Neue;
	position: relative;

	hr.tracker{
		pointer-events: none;
		position: absolute;
		width: 100%;
		z-index: 3;
		margin: 0;
		border: 0;
		border-top: 1px solid rgba(60, 60, 60, 0.2);
	}
	div.trackerLabel{
		pointer-events: none;
		position: absolute;
		margin-left: 15px;
		font-size: 14px;
		z-index: 3;
		margin-top: 5px;
		color: rgba(60, 60, 60, 0.9);
		letter-spacing: 1px;
	}

	.grid{
		height: 100% - $titleHeight;
		position: absolute;
		bottom: 0;
		width: 100%;

		hr{
			margin: 0;
			position: absolute;
			width: 100%;
			border: 0px;
			height: 1px;
			background-color: #eee;
		}	
	}

	.sideBar{
		flex-basis: 20%;

		.times{
			text-align: right;
			position: relative;

			.time{
				letter-spacing: 1px;
				width: 100%;
				position: absolute;
				font-size: 11px;
				color: #333;

				&.half{
					font-size: 9px;
				}
			}
		}
	}

	.day{
		border-left: 1px solid #eee;
		.events{

			overflow: auto;
			position: relative;
			box-sizing: border-box;
			/*border: 4px solid white;*/

			border-right: 5px solid white;
			border-left: 5px solid white;

			.event{
				cursor: pointer;
				border: 1px solid #fff;
				position: absolute;
				box-sizing: border-box;
				width: 100%;
				font-size: 12px;
				line-height: 150%;
				border-radius: 5px;
				background-color: rgb(65, 178, 122);
				color: #fff;
				padding: 2% 4%;

				.time{
					float: left;
					font-size: 13px;
					font-weight: 200;
				}
				.name{
					float: right;
					font-weight: 200;
					font-size: 12px;
				}
			}
		}
	}
}